<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loom Android.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Loom OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Loom iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LoomScript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4E410C21707940300FDC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E410E3170794BE00FDC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E410E7170795BD00FDC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E411081707986600FDC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E4112A17079BD700FDC239</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
